.footer__container {

    background-color: #e6f0fa;
    text-align: center;
    padding: 100px 0 68px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, #F5F5F5 0%, #A5D8FF 40%, #3A8DDE 80%, #1F6FBA 100%);




}

.footer__text {

    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin: 0;
}

.footer__links-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 68px;
}

.footer__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-family: 'Outfit', sans-serif;
    position: relative;
    transition: color 0.3s ease;
    font-weight: 300;
}

.footer__link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #1F6FBA;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.footer__link:hover {
    color: #1F6FBA;
}

.footer__link:hover::after {
    width: 100%;
}


.footer__icon {
    width: 38px;
    height: 45px;
    margin-right: 10px;
}


@media (max-width:650px) {
    .footer__text {


        font-size: 15px;
    }

    .footer__icon {
        width: 25px;
        height: 30px;
        margin-right: 10px;
    }
}