.chargermarker__infowindow {
  background-color: #ffffff;
  padding: 0 5px 20px;
  border-radius: 10px;
  font-family: 'Outfit', sans-serif;
  color: #333333;
  max-width: 220px;
}

.chargermarker__infowindow h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: bold;
  color: #0077ff;
}

.chargermarker__infowindow p {
  margin: 2px 0;
  font-size: 14px;
}

.charger-marker {
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  cursor: pointer;
  overflow: visible;
  transition: filter 0.2s ease, transform 0.2s ease;
}

.charger-marker:hover {

  filter:
    drop-shadow(0 0 6px #1e90ff) drop-shadow(0 0 10px #00ffff) drop-shadow(0 0 15px #00f5ff);
  transform: scale(1.2);
}


.chargermarker__icon img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  pointer-events: none;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}