.secret-route {
    padding: 48px 24px;
    max-width: 600px;
    margin: 200px auto;
    text-align: center;
}

.secret-route__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.secret-route__text {
    font-size: 19px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 40px;

}

.bold {
    color: #0099ff;
}