.main__container {
    margin-top: 226px;
}

.main__text {
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin-bottom: 40px;
}

.main__cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
    justify-content: start;
}

.main__cards>* {
    width: 100%;
    box-sizing: border-box;
}

.main__user-name {
    font-weight: 700;
    font-size: 28px;
    color: #007BFF;
}

.main__filters {
    display: flex;
    gap: 12px;
    margin: 20px 0;
}

.main__filter-btn {
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #007BFF;
    background: white;
    color: #007BFF;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.main__filter-btn:hover {
    background: #e7f1ff;
    transform: scale(1.05);
}

.main__filter-btn.active {
    background: #007BFF;
    color: white;
    transform: none;
}

.main__filter-btn--appeared {
    opacity: 0;
    transform: translateY(-10px);
    animation: btnFadeIn 0.5s forwards;
    animation-delay: 0.2s;

}


.main__cards:has(.card:nth-child(2)) .card {
    max-width: none;
    margin: 0;
}

.main__cards:not(:has(.card:nth-child(3))) .card {
    max-width: 320px;
    margin: 0 auto;
}


@media (max-width: 1054px) {
    .main__text {
        font-size: 27px;
        margin-bottom: 30px;
    }

    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 15px;
        margin-bottom: 25px;
    }


    .main__cards:not(.main__cards--fav)>*:nth-child(4) {
        display: none;
    }
}


@media (max-width: 650px) {
    .main__text {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }

    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        margin-bottom: 20px;
    }

    .main__cards:not(.main__cards--fav)>*:nth-child(4) {
        display: none;
    }
}


@media (max-width: 510px) {
    .main__cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .main__cards:not(.main__cards--fav)>*:nth-child(2) {
        display: none;
    }
}


@keyframes btnFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}