.bold {
    font-weight: 700;
    transition: color 0.2s ease-in-out;
}

.bold:hover {
    color: #0099ff;
}

.infoSection {
    margin: 225px 0 0 0;
}

.infoSection__title {
    font-weight: 600;
    font-size: 36px;
    color: #000000;
    margin: 60px 0 40px 0;
}

.infoSection__container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(127, 192, 255, 0.5);

}

.infoSection__title-content {
    font-weight: 300;
    color: #333333;
    margin-bottom: 16px;
}

.infoSection__text {
    font-weight: 400;
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
}

.infoSection-last__field {
    margin-bottom: 60px;
}


@media (max-width: 1054px) {
    .infoSection__title {
        font-size: 30px
    }

    .infoSection__title-content {
        font-size: 15px;
    }

    .infoSection__text {

        font-size: 14px;
    }

}