.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.popup__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: opacity 0.3s ease;
}

.popup__content {
  border: #1F6FBA 2px solid;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
  animation: fadeIn 0.4s ease;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.popup__close:hover {
  color: #1F6FBA;
}

@media (max-width:480px) {
  .popup__content {
    max-width: 290px;
    width: 60%;

  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}