.map__container {
  margin-top: 40px;
  border-radius: 12px;
  overflow: hidden;
}

.map__content {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}


.map__content>div {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.map__title {
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  margin: 60px 0 40px 0;
}

.map__api {
  width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}


.map__content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 4px;
  pointer-events: none;

  background: linear-gradient(90deg, #1F6FBA, #6FB8FF);


  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: opacity 0.38s ease;

  z-index: 5;
}

.map__content:hover::before {
  opacity: 1;
}


.map__btn {
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #1F6FBA;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 10;
}

.map__btn:hover {
  background-color: #6FB8FF;
  transform: translateY(-2px);
}

.map__icon {
  width: 20px;
  height: 20px;
}

.map__btn-text {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.map__btn:hover .map__btn-text {
  opacity: 0;
  transform: translateY(-3px);
}

.map__btn-user {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: #ffffffcc;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 10;
}

.map__btn-user:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.map__position {
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1054px) {
  .map__title {
    font-size: 30px
  }
}