.popup-login__title {
  font-size: 35px;
  margin-bottom: 40px;
  color: #1F6FBA;
  text-align: center;
}

.popup-login__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popup-login__input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #6FB8FF;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.popup-login__input:focus {
  border-color: #1F6FBA;
}

.popup-login__input.error,
.popup-login__input:invalid:focus,
.popup-login__input:invalid:focus-visible {
  border-color: #f44336;
}

.popup-login__error.visible {
  opacity: 1 !important;
}

.popup-login__submit {
  padding: 12px;
  font-size: 18px;
  background-color: #1F6FBA;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-login__submit:disabled {
  background-color: #A0CFFF;
  cursor: not-allowed;
}


.popup-login__field {
  display: flex;
  flex-direction: column;
}

.popup-login__input.error {
  border-color: #f44336 !important;
}

.popup-login__error {
  opacity: 0;
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
  min-height: 18px;
  transition: opacity 0.3s ease;
  text-align: center;
}


.popup-login__input:invalid:focus+.popup-login__error {
  opacity: 1;
}

/* Botão desabilitado */
.popup-login__submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.popup-login__signup-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.popup-login__signup-link {
  font-weight: 600;
  display: inline-block;
  background: linear-gradient(270deg, #1F6FBA, #6FB8FF, #00FFC3, #1F6FBA);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientShift 5s ease infinite;
}

.popup-login__signup-link:hover {
  opacity: 0.7;
}


@media (max-width:480px) {
  .popup-login__title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .popup-login__input {
    padding: 8px;
    font-size: 13px;
  }

  .popup-login__form {
    gap: 5px;
  }

  .popup-login__submit {
    padding: 9px;
    font-size: 14px;
  }

  .popup-login__signup-text {
    font-size: 13px;
    margin: 0;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}